[**KineticSlider Documentation v0.1.0**](../../../README.md)

***

[KineticSlider Documentation](../../../modules.md) / [types/validation](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [types/validation.ts:129](https://github.com/zachatkinson/kineticslider/blob/9b131c80a4dab7f626f361095e4be2d6d51f83c2/src/types/validation.ts#L129)

Validation result interface

## Example

```ts
Example usage
```

## Properties

### errors

> **errors**: `any`

Defined in: [types/validation.ts:131](https://github.com/zachatkinson/kineticslider/blob/9b131c80a4dab7f626f361095e4be2d6d51f83c2/src/types/validation.ts#L131)

***

### metadata?

> `optional` **metadata**: `Record`\<`string`, `unknown`\>

Defined in: [types/validation.ts:132](https://github.com/zachatkinson/kineticslider/blob/9b131c80a4dab7f626f361095e4be2d6d51f83c2/src/types/validation.ts#L132)

***

### valid

> **valid**: `boolean`

Defined in: [types/validation.ts:130](https://github.com/zachatkinson/kineticslider/blob/9b131c80a4dab7f626f361095e4be2d6d51f83c2/src/types/validation.ts#L130)
